/*xs*/
.nav-mb .nav-item,
.nav-sm .nav-item {
    font-size: 1.23076923em;
    display: block;
    border-top: 1px solid whitesmoke;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
    line-height: 3.46153846em;
    padding: 0 2.30769231em;
    position: relative;
    letter-spacing: .02692308em;
    outline: none;
    cursor: pointer
}

.nav-mb .nav-item:hover,
.nav-sm .nav-item:hover {
    text-decoration: none;
    color: #000
}

.nav-mb .nav-item.active,
.nav-sm .nav-item.active {
    background-color: whitesmoke
}

.nav-mb .nav-item.nav-item-caret:after,
.nav-sm .nav-item.nav-item-caret:after {
    border-right: 1px solid #fff;
    display: inline-block;
    border-top: 2px solid #737882;
    border-right: 2px solid #737882;
    content: "";
    position: absolute;
    height: .61538462em;
    width: .61538462em
}

.nav-mb .nav-item.nav-item-caret.nav-item-caret-top:after,
.nav-sm .nav-item.nav-item-caret.nav-item-caret-top:after {
    left: .9em;
    top: 1.37769231em;
    transform: rotate(-45deg)
}

.nav-mb .nav-item.nav-item-caret.nav-item-caret-right:after,
.nav-sm .nav-item.nav-item-caret.nav-item-caret-right:after {
    right: 1.15384615em;
    top: 1.37769231em;
    transform: rotate(45deg)
}

.nav-mb .nav-item.nav-item-caret.nav-item-caret-bottom:after,
.nav-sm .nav-item.nav-item-caret.nav-item-caret-bottom:after {
    left: .9em;
    top: 1.37769231em;
    transform: rotate(135deg)
}

.nav-mb .nav-item.nav-item-caret.nav-item-caret-left:after,
.nav-sm .nav-item.nav-item-caret.nav-item-caret-left:after {
    left: 1.15384615em;
    top: 1.37769231em;
    transform: rotate(-135deg)
}

/*mb*/
@media (min-width: 480px) {
}

/*sm*/
@media (min-width: 768px) {
    .nav-mb .nav-item {
        border: 0 !important;
        padding: 0;
        letter-spacing: inherit;
        line-height: inherit;
        font-size: inherit;
        color: inherit;
        display: inline-block;
        width: auto
    }

    .nav-mb .nav-item.active {
        background-color: inherit
    }

    .nav-mb .nav-item.nav-item-caret:after {
        display: none
    }

    .nav-mb .nav-item:hover {
        color: inherit
    }

    .nav-mb a.nav-item:hover {
        text-decoration: underline
    }
}

/*md*/
@media (min-width: 992px) {
    .nav-sm .nav-item {
        border: 0 !important;
        padding: 0;
        letter-spacing: inherit;
        line-height: inherit;
        font-size: inherit;
        color: inherit;
        display: inline-block;
        width: auto
    }

    .nav-sm .nav-item.active {
        background-color: inherit
    }

    .nav-sm .nav-item.nav-item-caret:after {
        display: none
    }

    .nav-sm .nav-item:hover {
        color: inherit
    }

    .nav-sm a.nav-item:hover {
        text-decoration: underline
    }
}

/*lg*/
@media (min-width: 1200px) {
}