.breadcrumbs .item {
    color: #8e8d8d
}

.breadcrumbs a.item:hover {
    color: #000;
    text-decoration: none
}

.breadcrumbs .btn-back {
    margin-right: 20px
}

.breadcrumbs span + span:before {
    /*content: '\2023';*/
    content: '/';
    color: #d5d5d5;
    /*content: '\21E2';*/
    /*content: '\25B6';*/
    /*content: '\25B7';*/
    /*content: '\25B8';*/
    /*content: '\25B9';*/
    /*content: '\276D';*/
    /*content: '\279D';*/
    /*content: '\27A4';*/
    margin: 0 5px
}

@media (min-width: 992px) {
    .breadcrumbs span + span:before {
        margin: 0 10px
    }
}